<button id="addbutton" mat-raised-button color="primary" (click)="addButtonClicked()">Add new Entry</button>
<button id="logoutbutton" mat-raised-button color="primary" routerLink="/">Logout</button>
<button id="accountbutton" mat-raised-button color="primary" (click)="accountButtonClicked()">My Account</button>
<div id="table">
<table mat-table [dataSource]="checkIns" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"><qrcode [qrdata]="element.id" [width]="10"></qrcode>{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
    </ng-container>

    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Company</th>
        <td mat-cell *matCellDef="let element">{{element.company}}</td>
    </ng-container>

    <ng-container matColumnDef="phonenumber">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let element">{{element.phonenumber}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-Mail</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef>Street</th>
        <td mat-cell *matCellDef="let element">{{element.street}}</td>
    </ng-container>

    <ng-container matColumnDef="postalcode">
        <th mat-header-cell *matHeaderCellDef>Postal code</th>
        <td mat-cell *matCellDef="let element">{{element.postalcode}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{element.city}}</td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element">{{numberToDate(element.time)}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="editCheckIn(element)" color="primary">Edit</button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="deleteCheckIn(element)" color="primary">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="properties"></tr>
    <tr mat-row *matRowDef="let row; columns: properties;"></tr>
</table>  
</div> 