p{
    color: white;
}

form{
    text-align: center;
    padding: 10px;
}

mat-form-field{
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
}

#back{
    margin: 10px;
}