<div class="form">
    <form>
    <p class="mat-headline">Enter your information to register.</p>
    <div id="userdata">
        <mat-form-field color="primary" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput color="accent" #firstname required>
        </mat-form-field>
        <span></span>
        <mat-form-field color="primary" appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput color="accent" #lastname required>
        </mat-form-field>
    </div>
    <div id="account">
        <mat-form-field color="primary" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput color="accent" #username required>
        </mat-form-field>
        <mat-form-field color="primary" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" color="accent" #email required>
        </mat-form-field>
    </div>
    <div id="password">
        <mat-form-field color="primary" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" color="accent" #password required>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="registerAdmin(firstname.value, lastname.value, username.value, email.value, password.value)">Register</button>
    <div id="alreadyexists" [innerText]="errormsg"></div>    
</form>
</div>